@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    & {
      @content;
    }
  }
}

@mixin listAfter($bottom, $height, $width, $left, $color, $transform, $transition) {
  content: '';
  position: absolute;
  bottom: $bottom;
  display: flex;
  left: $left;
  width: $width;
  height: $height;
  border-radius: 5px;
  background-color: $color;
  transform: $transform;
  transition: $transition;
}