/* Primary Colors */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

/* Font family */
$alata: "Alata", sans-serif;
$josefin: "Josefin Sans", sans-serif;

/* Font size */
$normal-size: 15px;
$medium-size: 3em;
$big-size: 4.5em;

/* Font weight */
$regular: 300;

/* Transition */
$transition: all 0.3s ease-in-out;