/* Primary Colors */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$gray-backgd:rgba(255, 255, 255, 0.3);

/* Font family */
$alata: "Alata", sans-serif;
$josefin: "Josefin Sans", sans-serif;

/* Font size */
$small-size: 15px;
$regular-size: 2rem;
$medium-size: 3rem;
$medium-half-size: 3.3rem;
$big-size: 4.5rem;

/* Font weight */
$regular: 300;

/* Transition */
$transition: all 0.3s ease-in-out;
$buttonTransition: all 0.5s ease-in-out;